.log-in-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.835);
  z-index: 9999;
}

.log-in-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 3rem 1rem 0 1rem;
  background-color: white;
  box-sizing: border-box;
  overflow-y: scroll;
}
.log-in-card i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

.log-in-card h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.log-in-card p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.log-in-card input,
.log-in-card button {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  overflow-x: scroll;
  margin: 0.1rem 0 1rem 0;
}

.log-in-card button {
  color: white;
  padding: 1rem 1rem 0 1rem;
  background: linear-gradient(
    164deg,
    rgba(255, 245, 38, 1) 0%,
    rgba(240, 137, 21, 1) 50%,
    rgba(221, 0, 0, 1) 100%
  );
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .log-in-card {
    top: 10%;
    left: calc(50% - 15rem);
    width: 30rem;
    height: auto;
    max-height: 70vh;
    border-radius: 1rem;
  }
  .log-in-card i {
    font-size: 1.5rem;
  }

  .log-in-card i:hover,
  .log-in-card button {
    cursor: pointer;
  }
}
